<div class="header">
    <div class="logo">
        <img src="/assets/images/icon_android_application.png" alt="logo">
        <li><a href="/index.html">두루미: GKNU 메타버스</a></li>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/about.html">두루미 소개</a></li>
            <li><a href="/construction.html">학교 지도</a></li>
            <li><a href="/history.html">업데이트</a></li>
            <!-- %0A 줄바꿈 -->
            <li> <a href="mailto:durumi.contact@gmail.com
                ?subject=두루미 앱 관련 문의드립니다
                &body=안녕하세요.%0A두루미 애플리케이션에 대해 문의사항이 있어 연락드립니다.%0A%0A아래 항목을 참고하여 내용을 입력해 주세요:%0A%0Aㆍ이름:%0Aㆍ이메일 주소:%0Aㆍ문의 주제:%0Aㆍ문의 내용:%0A%0A확인 후 가능한 빠르게 답변드리겠습니다.%0A감사합니다."
                 title="두루미 앱 관련 문의 메일 보내기">
                문의</a>
            </li>
        </ul>
    </div>
</div>
