/* 텍스트 표시 영역 스타일 */
.floor-text-display {
    padding-left: 20px;
    font-size: 30px;
    margin: 2rem 0 1rem;
    border-left: 6px solid #8b8cf0;
    font-weight: bold;
    color: #333;
    font-family: 'DM Sans', 'Pretendard', 'Noto Sans KR', sans-serif;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease-in-out;
}

/* 애니메이션 클래스 */
.floor-text-display.show {
    opacity: 1;
    transform: translateX(0);
}

.floor4-engineering-image {
    margin-top: 2%;
    width: 100%;
    max-width: 1200px;
    background-color: #f1d2b0;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease-in-out;
    position: relative; /* 마커의 기준 컨테이너 */
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor4-engineering-image img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: block;
}

.floor4-engineering-image.show {
    opacity: 1;
    transform: translateX(0);
}

.modal-container {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    background-color: #000000;
}